/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    CHARLA Mapping Pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Global default params
params {

    // Input/output options
    input                      = null
    sample_id                  = null
    input_format               = 'fastq'
    outdir                     = 'results'

    // Reference genome options
    reference                  = "${projectDir}/Col-0_chr1-5_renamed.fa"
    reference_dir              = "${projectDir}/index"
    kmer_db                    = "${projectDir}/merylDB"

    // K-mer analysis options
    kmer_size                  = 31

    // Parent genome parameters
    // NOTE: This pipeline uses SINGLE-PARENT k-mer classification
    // - Set parent1_name to your reference (e.g., 'Col')
    // - parent2_name can be null for single-parent analysis
    // - BED files are optional (used for genomic visualization)
    parent1_name               = 'Col'
    parent2_name               = null
    parent1_bed                = null
    parent2_bed                = null
    num_chromosomes            = 5

    // Resource allocation - readmer profiling
    readmer_cpus               = 20
    readmer_memory             = '100 GB'
    readmer_time               = '10h'

    // Resource allocation - cenhapmer profiling
    cenhapmer_cpus             = 1
    cenhapmer_memory           = '50 GB'
    cenhapmer_time             = '10h'

    // Resource allocation - cenhapmer postprocessing
    cenhapmer_postproc_cpus    = 20
    cenhapmer_postproc_memory  = '32 GB'
    cenhapmer_postproc_time    = '4h'

    // Resource allocation - non-hybrid reads analysis
    nonhybrid_cpus             = 8
    nonhybrid_memory           = '16 GB'
    nonhybrid_time             = '4h'

    // Resource allocation - large indel analysis
    large_indel_cpus           = 8
    large_indel_memory         = '16 GB'
    large_indel_time           = '4h'

    // Boilerplate options
    help                       = false
    version                    = false
    publish_dir_mode           = 'symlink'
    monochrome_logs            = false
    validate_params            = true
    enable_conda               = false

    // Max resource options
    max_cpus                   = 20
    max_memory                 = '100.GB'
    max_time                   = '48.h'

}

// Load base config
includeConfig 'conf/base.config'

// Process configuration
process {

    // Global container
    container = 'docker://jacgonisa/charla_nf:v1.0.1'

    // Error handling
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Resource labels
    withLabel: process_low {
        cpus   = { check_max( 2, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h * task.attempt, 'time' ) }
    }
    withLabel: process_medium {
        cpus   = { check_max( 4, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h * task.attempt, 'time' ) }
    }
    withLabel: process_high {
        cpus   = { check_max( 8, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 8.h * task.attempt, 'time' ) }
    }
    withLabel: mapping_analysis {
        cpus   = { check_max( params.nonhybrid_cpus, 'cpus' ) }
        memory = { check_max( params.nonhybrid_memory, 'memory' ) }
        time   = { check_max( params.nonhybrid_time, 'time' ) }
    }
    withLabel: indel_analysis {
        cpus   = { check_max( params.large_indel_cpus, 'cpus' ) }
        memory = { check_max( params.large_indel_memory, 'memory' ) }
        time   = { check_max( params.large_indel_time, 'time' ) }
    }
}

// Execution profiles
profiles {

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }

    docker {
        docker.enabled         = true
        singularity.enabled    = false
    }

    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }

    local {
        process.executor       = 'local'
    }

}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}

// Manifest
manifest {
    name            = 'charla-mapping'
    author          = 'Based on CHARLA_NF by jacgonisa'
    homePage        = 'https://github.com/jacgonisa/charla_nf'
    description     = 'Mapping-only pipeline for long-read sequencing data (CHARLA without recombination analysis)'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

// Nextflow reporting
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}
