/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    jacgonisa/charla_nf Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input options
    input_format = "fastq" // or "fasta"
    reads       = 'data/fastq/ColLer_F1_pollen.fq.gz'
    sample_id = 'ColLer_F1'
    kmer_size = 41
    outdir    = 'results'
    cenhapmer_db_dir = null // Set a default to null, or a common path if always the same
     // Readmer process resources
    readmer_cpus = 20
    readmer_memory = '100 GB' 
    readmer_time = '10h'
    
    // Cenhapmer process resources  
    cenhapmer_cpus = 1
    cenhapmer_memory = '50 GB'
    cenhapmer_time = '10h'

   // Added to resolve WARNINGS
    custom_config_base   = null        // For custom institutional configs (optional)
    trace_report_suffix  = ''          // Suffix for trace reports
    monochrome_logs      = true       // For disabling colored logs
    publish_dir_mode     = 'symlink'   // Default mode for publishing directories ('copy', 'symlink', 'link', 'rellink')
    version              = '1.0.0dev'  // Matches manifest version, for nf-schema
    validate_params      = true         // Enable parameter validation by default for nf-schema
    
    // Additional parameters to prevent warnings
    email                = null
    email_on_fail        = null
    plaintext_email      = null
    hook_url             = null
}

// DEFAULT SINGULARITY CONFIGURATION
singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = "$HOME/.nextflow/singularity"
}

// Disable other container systems by default
docker.enabled          = false
conda.enabled           = false
podman.enabled          = false
shifter.enabled         = false
charliecloud.enabled    = false
apptainer.enabled       = false

process {
  withName: FASTQ_TO_FASTA {
    publishDir = [path: "${params.outdir}/data", mode: 'symlink']
  }
  withName: SIMPLIFY_HEADERS {
    publishDir = [path: "${params.outdir}/data", mode: 'symlink']
  }
  withName: generate_readmers_kmc {
    publishDir = [path: "${params.outdir}/readmers", mode: 'symlink']
  }
  withName: generate_histogram_kmc {
    publishDir = [path: "${params.outdir}/readmers", mode: 'symlink']
  }
  withName: get_counts_kmc {
    publishDir = [path: "${params.outdir}/readmers", mode: 'symlink']
  }
  withName: get_counts_cenhapmer_kmc {
    publishDir = [path: "${params.outdir}/cenhapmers", mode: 'symlink']
  }
  withName: process_cenhapmer_counts {
    publishDir = [path: "${params.outdir}/processed_cenhapmers", mode: 'symlink']
  }

}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes          = true
        process.beforeScript  = 'echo $HOSTNAME'
        cleanup             = false
        nextflow.enable.configProcessNamesValidation = true
    }
    local {
        process {
            executor = 'local'
            // Remove cpus/memory limits unless necessary
            withName: 'generate_readmers_kmc' {
                cpus = 20
            }
            withName: 'get_counts_cenhapmer_kmc' {
                cpus = 1    // Each task uses 1 CPU (allows 20-way parallel)
                memory = '5 GB'  // Adjust as needed
            }
        }
        executor {
            name = 'local'
            maxForks = 10   // Now allows 20 tasks at once!
        }
     
        // Override singularity for local testing
        singularity.enabled     = false
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
    }
    conda {
        conda.enabled           = true
        conda.channels          = ['conda-forge', 'bioconda']
        // Disable singularity when using conda
        singularity.enabled     = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        // Disable singularity when using mamba
        singularity.enabled     = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
        // Disable singularity when using docker
        singularity.enabled     = false
        conda.enabled           = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
        docker.enabled          = true
        singularity.enabled     = false
    }
    singularity {
        // This profile can be used to customize singularity further
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.runOptions  = '--bind /tmp:/tmp'  // Add custom bind mounts
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    cluster {
        // Profile for HPC clusters with custom singularity settings
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.runOptions  = '--bind /scratch:/scratch --bind /home:/home'
        singularity.cacheDir    = '/scratch/$USER/.nextflow/singularity'
        process.executor        = 'slurm'
        process.queue           = 'short'
    }
    podman {
        podman.enabled          = true
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        singularity.enabled     = false
        conda.enabled           = true
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    gpu {
        docker.runOptions       = '-u $(id -u):$(id -g) --gpus all'
        apptainer.runOptions    = '--nv'
        singularity.runOptions  = '--nv'
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

// Load custom profiles from different institutions
// includeConfig params.custom_config_base && (!System.getenv('NXF_OFFLINE') || !params.custom_config_base.startsWith('http')) ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set default registry for all container systems
apptainer.registry      = 'quay.io'
docker.registry         = 'quay.io'
podman.registry         = 'quay.io'
singularity.registry    = 'quay.io'
charliecloud.registry   = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",          // No clobber - prevent output redirection from overwriting files.
    "-e",          // Exit if a tool returns a non-zero status/exit code
    "-u"           // Error on undefined variables
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
    overwrite = true
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'jacgonisa/charla_nf'
    contributors    = [
        [
            name: 'Jacob González Isa',
            affiliation: 'University of Cambridge',
            email: 'jg2070@cam.ac.uk',
            github: 'jacgonisa',
            contribution: [], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://github.com/jacgonisa/charla_nf'
    description     = """CHARLA (Centromeric Haplotype Analysis of Recombination using Long-reads of Arabidopsis) """
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.5'
    version         = '1.0.0dev'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.4.2' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run jacgonisa/charla_nf --reads data/fastq/ColLer_F1_pollen.fq.gz --sample_id ColLer_F1 --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

// Load modules.config for DSL2 module specific options
//includeConfig 'conf/modules.config'
