/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withName: 'FASTQ_TO_FASTA' {
        cpus   = { check_max( 1, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h * task.attempt, 'time' ) }
    }
    withName: 'SIMPLIFY_HEADERS' {
        cpus   = { check_max( 1, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h * task.attempt, 'time' ) }
    }
    withName: 'GENERATE_READMERS_KMC' {
        cpus   = { check_max( params.readmer_cpus, 'cpus' ) }
        memory = { check_max( params.readmer_memory, 'memory' ) }
        time   = { check_max( params.readmer_time, 'time' ) }
    }
    withName: 'GET_COUNTS_CENHAPMER' {
        cpus   = { check_max( params.cenhapmer_cpus, 'cpus' ) }
        memory = { check_max( params.cenhapmer_memory, 'memory' ) }
        time   = { check_max( params.cenhapmer_time, 'time' ) }
    }
    withName: 'PROCESS_CENHAPMER_COUNTS' {
        cpus   = { check_max( 2, 'cpus' ) }
        memory = { check_max( 8.GB * task.attempt, 'memory' ) }
        time   = { check_max( 2.h * task.attempt, 'time' ) }
    }
    withName: 'NON_HYBRID_READS_ANALYSIS' {
        cpus   = { check_max( params.nonhybrid_cpus, 'cpus' ) }
        memory = { check_max( params.nonhybrid_memory, 'memory' ) }
        time   = { check_max( params.nonhybrid_time, 'time' ) }
    }
    withName: 'LARGE_INDEL_ANALYSIS' {
        cpus   = { check_max( params.large_indel_cpus, 'cpus' ) }
        memory = { check_max( params.large_indel_memory, 'memory' ) }
        time   = { check_max( params.large_indel_time, 'time' ) }
    }
    withName: 'MAFFT_ALIGN' {
        cpus   = { check_max( 8, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
        time   = { check_max( 4.h * task.attempt, 'time' ) }
    }
    withName: 'ANALYZE_MAFFT_ALIGNMENT' {
        cpus   = { check_max( 1, 'cpus' ) }
        memory = { check_max( 4.GB * task.attempt, 'memory' ) }
        time   = { check_max( 1.h * task.attempt, 'time' ) }
    }
}
